<html>
<head>
<meta charset='utf-8'>
</head>
<body>
<b>основание системы счисления это -</b>
<div>количество цифр (знаков) в алфавите системы</div>
<hr>
<b>выберите неправильно указанный закон алгебры логики:</b>
<div>закон буля</div>
<hr>
<b>назовите неправильно указанный базовый логический элемент</b>
<div>импликатор</div>
<hr>
<b>какие шины предназначены для подключения различных периферийных устройств?</b>
<div>шины ввода/вывода</div>
<hr>
<b>какое название имеет позиция цифры в числе?</b>
<div>разряд</div>
<hr>
<b>базовый логический элемент, реализующий логическое отрицание называется</b>
<div>инвертор</div>
<hr>
<b>назовите основные характеристики оперативной памяти?</b>
<div>объем, время доступа</div>
<hr>
<b>в каком поколении компьютеров появились первые операционные системы?</b>
<div>во втором поколении</div>
<hr>
<b>устройство управления (уу) – это</b>
<div>совокупность блоков и узлов процессора, обеспечивающая координирование работы всех устройств компьютера и управление ими</div>
<hr>
<b>как называется максимальное количество информации, которое можно записать на носитель?</b>
<div>емкость</div>
<hr>
<b>как называется логический элемент xor?</b>
<div>«исключающее или»</div>
<hr>
<b>от чего зависит скорость работы компьютера?</b>
<div>тактовой частоты обработки информации в процессоре</div>
<hr>
<b>динамическая оперативная память по сравнению со статической обладает следующим преимуществом:</b>
<div>более низкой ценой</div>
<hr>
<b>сервер на котором хранятся файлы общего доступа называется</b>
<div>файл-сервер</div>
<hr>
<b>совокупность характеристик и параметров, определяющих функционально логическую и структурную организацию систем – это</b>
<div>архитектура вычислительной системы</div>
<hr>
<b>оперативная память – это</b>
<div>все ответы верны</div>
<hr>
<b>какой тип памяти компьютера используется для ускорения доступа к данным, которые часто используются?</b>
<div>кэш</div>
<hr>
<b>во время исполнения прикладная программа хранитсяв</b>
<div>оперативной памяти</div>
<hr>
<b>время выполнения операций в взу составляет:</b>
<div>от сотен микросекунд до долей секунд</div>
<hr>
<b>какое устройство используется для сложения одноразрядных двоичных чисел?</b>
<div>сумматор</div>
<hr>
<b>архитектура компьютера с полным набором команд</b>
<div>cisc</div>
<hr>
<b>как называется устройство, выполняющее базовые логические операции?</b>
<div>вентиль</div>
<hr>
<b>в какой системе счисления число 4060 имеет максимальную длину записи?</b>
<div>в двоичной</div>
<hr>
<b>наибольший вес имеет бит, который называется</b>
<div>старший значащий бит</div>
<hr>
<b>как называется память предназначена для длительного хранения программ и данных?</b>
<div>взу</div>
<hr>
<b>в состав внешней памяти компьютера входят:</b>
<div>все перечисленные</div>
<hr>
<b>модуль bios (basic indivut/outdivut system - базовая система ввода-вывода) относится к</b>
<div>пзу</div>
<hr>
<b>промежуток между двумя импульсами тактового генератора, который синхронизирует выполнение всех операций процессора называется</b>
<div>тактом ядра процессора</div>
<hr>
<b>на какой элементной базе строилось третье поколение компьютеров?</b>
<div>интегральные схемы</div>
<hr>
<b>укажите неправильно указанную основную память компьютера:</b>
<div>cd</div>
<hr>
<b>память, которая не имеет прямой связи с процессором:</b>
<div>взу</div>
<hr>
<b>какой уровень в архитектуре компьютера самый низкий?</b>
<div>цифровой логический уровень</div>
<hr>
<b>схема или, реализующая операцию логического сложения называется</b>
<div>дизъюнктор</div>
<hr>
<b>какой тип оперативной памяти используется в современных моноблоках и ноутбуках?</b>
<div>so-dimm</div>
<hr>
<b>память только для чтения – это</b>
<div>rom</div>
<hr>
<b>в двоичной системе разряд, который имеет самую правую позицию называется</b>
<div>младший значащий бит</div>
<hr>
<b>механическое устройство, позволяющее складывать числа, изобрел:</b>
<div>б. паскаль</div>
<hr>
<b>римская система счисления это</b>
<div>непозиционная система</div>
<hr>
<b>внутренняя память компьютера физически представлена модулями</b>
<div>все ответы верны</div>
<hr>
<b>что происходит на каждой итерации в алгоритме двоичного поиска?</b>
<div>список делится пополам, и проверяется средний элемент</div>
<hr>
<b>что такое интеграция данных?</b>
<div>процесс объединения данных из различных источников в одну систему</div>
<hr>
<b>что такое интеллектуальный агент?</b>
<div>автономная система, способная воспринимать окружающую среду и действовать для достижения целей</div>
<hr>
<b>какую роль играют логические модели в демонстрации знаний?</b>
<div>помогают выводить заключения на основе утверждений.</div>
<hr>
<b>что такое etl?</b>
<div>процесс извлечения, преобразования и загрузки данных</div>
<hr>
<b>что делает обучающийся агент уникальным?</b>
<div>учится на своем опыте и улучшает свои действия со временем</div>
<hr>
<b>что такое elt в контексте интеграции данных?</b>
<div>extract, load, transform — метод, при котором данные сначала загружаются, а затем преобразуются</div>
<hr>
<b>какая из следующих реализаций поиска требует предварительного индексирования данных?</b>
<div>поиск по индексу</div>
<hr>
<b>какой из этих процессов не является частью etl?</b>
<div>архивирование данных</div>
<hr>
<b>какой метод извлечения знаний применяется для распознавания изображений?</b>
<div>машинное обучение</div>
<hr>
<b>что такое демонстрация знаний?</b>
<div>вывод знаний из базы знаний для их использования.</div>
<hr>
<b>сколько видов keys существует?</b>
<div>5</div>
<hr>
<b>какая способность позволяет агенту изменять свое поведение на основе опыта?</b>
<div>обучаемость</div>
<hr>
<b>какой тип агента действует на основе заранее заданных правил и не использует обратную связь с окружающей средой?</b>
<div>простой рефлексивный агент</div>
<hr>
<b>что такое извлечение знаний?</b>
<div>процесс выявления значимых закономерностей из данных.</div>
<hr>
<b>в каком случае двоичный поиск может быть использован?</b>
<div>список должен быть отсортированным</div>
<hr>
<b>что такое преобразование данных?</b>
<div>изменение структуры или формата данных для их использования в другой системе</div>
<hr>
<b>укажите программы и платформы для аналитики, которые помогают обрабатывать и анализировать данные, делать прогнозы, визуализировать информацию и принимать решения на основе данных.</b>
<div>firebase, google data studio, google analytics</div>
<hr>
<b>для чего используется сжатие данных?</b>
<div>увеличение скорости передачи данных и экономия места на диске</div>
<hr>
<b>в каком случае двоичный поиск может быть неэффективен?</b>
<div>когда данные неотсортированы</div>
<hr>
<b>какие из перечисленных операций относятся к булевским операциям:</b>
<div>or</div>
<hr>
<b>статические и динамические зу относятся к классификации</b>
<div>по способу хранения</div>
<hr>
<b>тактовая частота процессора — это</b>
<div>число вырабатываемых за одну секунду импульсов, синхронизирующих работу узлов компьютера</div>
<hr>
<b>выполнение различных элементарных операций может занимать</b>
<div>все перечисленное</div>
<hr>
<b>адресуемость оперативной памяти означает</b>
<div>наличие номера у каждой ячейки оперативной памяти</div>
<hr>
<b>скорость работы процессора измеряется в</b>
<div>герцах</div>
<hr>
<b>какое поколение компьютеров использовало микропроцессоры в качестве основных элементов?</b>
<div>четвертое поколение</div>
<hr>
<b>регистр – это…</b>
<div>совокупность устройств, используемых для хранения информации, и обеспечения быстрого доступа к ней</div>
<hr>
<b>в каком виде памяти данные и программы сохраняются только при включенном компьютере?</b>
<div>основная память</div>
<hr>
<b>арифметическо – логическое устройство (алу) — это</b>
<div>совокупность блоков и узлов процессора, обеспечивающая выполнение арифметических и логических операций над операндами</div>
<hr>
<b>на какой концепции базируется архитектура системы команд с командными словами сверхбольшой длины?</b>
<div>cisc</div>
<hr>
<b>какое поколение компьютеров использовало транзисторы в качестве основных элементов?</b>
<div>второе поколение</div>
<hr>
<b>какая память является самой быстрой в компьютере?</b>
<div>регистровая память процессора</div>
<hr>
<b>кто ввел понятие стека?</b>
<div>алан тьюринг</div>
<hr>
<b>найдите неверный ответ: архитектура системы команд служит границей между аппаратурой и программным обеспечением. к аппаратному обеспечению относят</b>
<div>компилятор</div>
<hr>
<b>какая память является энергозависимой?</b>
<div>основная память</div>
<hr>
<b>укажите неправильную часть шины:</b>
<div>шина прерываний</div>
<hr>
<b>найдите неверный ответ: общая шина имеет в своем составе</b>
<div>шину команд</div>
<hr>
<b>что понимается под термином «интерфейс»?</b>
<div>внешний вид программной среды, служащий для обеспечения диалога с пользователем</div>
<hr>
<b>статическая оперативная память используется в качестве:</b>
<div>кэш-памяти</div>
<hr>
<b>для отрицательного числа дополнительный код образуется путем</b>
<div>получения обратного кода и добавлением к младшему разряду единицы</div>
<hr>
<b>первым программистом мира является</b>
<div>а. ловелас</div>
<hr>
<b>какой из перечисленных видов памяти имеет самый маленький объем?</b>
<div>регистры процессора</div>
<hr>
<b>в микросхемах статической памяти (sram – static ram) в качестве элементарной ячейки используется</b>
<div>триггер</div>
<hr>
<b>как называется количество двоичных разрядов, которые процессор обрабатывает за один такт?</b>
<div>разрядность процессора</div>
<hr>
<b>кэш процессора выполняется на базе</b>
<div>sram</div>
<hr>
<b>основоположником в ссср вычислительной техники является</b>
<div>сергей алексеевич лебедев</div>
<hr>
<b>дополните предложение: модуль …… предназначен для загрузки операционной системы в оперативную память.</b>
<div>bios</div>
<hr>
<b>в обратном коде для отрицательного числа в знаковый разряд заносится</b>
<div>1</div>
<hr>
<b>оперативная память предназначена для:</b>
<div>помещения в нее исполняемых программ и данных</div>
<hr>
<b>с помощью каких шин процессор соединяется с основными компонентами компьютера на материнской плате?</b>
<div>системных шин</div>
<hr>
<b>random access memory (ram) - это</b>
<div>все ответы верны</div>
<hr>
<b>какой тип оперативной памяти используется в современных персональных компьютерах?</b>
<div>dimm</div>
<hr>
<b>время выполнения операций в озу составляет:</b>
<div>от нескольких до десятков наносекунд</div>
<hr>
<b>какой элементной базе строилось четвертое поколение компьютеров?</b>
<div>большие интегральные схемы</div>
<hr>
<b>микропроцессор работает со скоростью:</b>
<div>от 1 нсек до нескольких наносекунд</div>
<hr>
<b>единичное значение старшего бита для чисел с фиксированный точкой указывает на:</b>
<div>отрицательное число</div>
<hr>
<b>от чего зависит производительность компьютера?</b>
<div>все ответы верны</div>
<hr>
<b>для чего используется прямой код?</b>
<div>для представления отрицательных чисел в запоминающем устройстве</div>
<hr>
<b>что такое быстродействие процессора?</b>
<div>число элементарных операций, выполняемых процессором в единицу времени</div>
<hr>
<b>к основным устройствам эвм относятся:</b>
<div>алу, уу, зу, увв</div>
<hr>
<b>что такое прерывание?</b>
<div>это временный останов выполнения одной программы в целях оперативного выполнения другой, в данный момент более важной</div>
<hr>
<b>как называется схема и, реализующая операцию логического умножения?</b>
<div>конъюнктор</div>
<hr>
<b>базой логический элемент, реализующий логическое умножение называется</b>
<div>конъюнктор</div>
<hr>
<b>тактовая частота процессора измеряется в</b>
<div>герцах</div>
<hr>
<b>какая память организовано по принципу “последним записан – первым считан” (lifo)?</b>
<div>стековая память</div>
<hr>
<b>какое устройство предназначено для хранения и оперативного обмена информацией, позволяет только считывать информацию?</b>
<div>пзу</div>
<hr>
<b>в устройстве шины есть</b>
<div>все перечисленные уровни</div>
<hr>
<b>каждый байт озу имеет:</b>
<div>адрес</div>
<hr>
<b>как называется количество двоичных разрядов, процессор обрабатывает за один такт?</b>
<div>разрядный процессора</div>
<hr>
<b>как называется энергонезависимая память, используемая для хранения данных, которые никогда не потребуют изменения?</b>
<div>пзу</div>
<hr>
<b>в каком году было введено понятие стека?</b>
<div>1946</div>
<hr>
<b>укажите неправильный тип команды машинного уровня:</b>
<div>операции над буквами</div>
<hr>
<b>нулевое значение старшего бита для чисел с фиксированной точкой указывает на:</b>
<div>положительное число</div>
<hr>
<b>идею механической машины с идеей программного управление соединил:</b>
<div>ч.беббидж</div>
<hr>
<b>двухсторонний модуль памяти это</b>
<div>dimm</div>
<hr>
<b>под термином «интерфейс» понимается -</b>
<div>внешний вид программной среды, служащий для обеспечения диалога с пользователем</div>
<hr>
<b>увеличение тактовой частоты процессора влечет за собой:</b>
<div>все перечисленное</div>
<hr>
<b>какой элемент на схемах имеет закругление на входе и закругление с заострением на выходе или – прямоугольник с символом «1»?</b>
<div>(или)</div>
<hr>
<b>найдите неверный ответ: система команд – соглашение о предоставляемых архитектурой средствах программирования, ф именно:</b>
<div>о размерах буферов</div>
<hr>
<b>под термином «поколение компьютера» понимают</b>
<div>все типы и модели, построенные на одним и тех же научных и технических принципах</div>
<hr>
<b>как представляют вещественные числа?</b>
<div>х = + / - м * q (+/-div)</div>
<hr>
<b>название логической схемы, на выходе которой логическая единица появляется тогда, когда хотя бы на одном из входов присутствует логическая единица?</b>
<div>дизъюнктор</div>
<hr>
<b>назовите функцию механизма прерываний:</b>
<div>все ответы верны</div>
<hr>
<b>статическая память используется в качестве:</b>
<div>кэш-памяти</div>
<hr>
<b>для какой архитектуры характерно разнообразие способов адресации операндов?</b>
<div>cisc-архитектуры</div>
<hr>
<b>какой функциональный узел не включает в себя процессор компьютера?</b>
<div>флэш-память</div>
<hr>
<b>в каком поколении компьютеров использовались каналы ввода-вывода (специальные электронные схемы, которые руководят обменом данными между процессором и внешним устройствами)?</b>
<div>3</div>
<hr>
<b>для увеличения эффективной полосы пропускания шины во многих современных шинах используется -</b>
<div>все перечисленные протоколы</div>
<hr>
<b>как вычисляется пропускная способность шин?</b>
<div>тактовая частота * разрядность</div>
<hr>
<b>архитектура компьютера с сокращенным набором команд</b>
<div>рисц</div>
<hr>
<b>совокупность линий (проводников на материнской плате), по которым обмениваются информацией компоненты и устройства пк – это:</b>
<div>шина</div>
<hr>
<b>логической операцией не является:</b>
<div>логическое деление</div>
<hr>
<b>какое поколение компьютеров использовало микросхемы в качестве основных элементов?</b>
<div>третье поколение</div>
<hr>
<b>какой логический элемент называют элементом шеффера?</b>
<div>элемент «и-не»</div>
<hr>
<b>какой элемент называют - сложение по модулю 2?</b>
<div>«исключающее или»</div>
<hr>
<b>шины могут -</b>
<div>использовать все перечисленные способы</div>
<hr>
<b>в каком устройстве компьютера происходит обработка информации?</b>
<div>в процессоре</div>
<hr>
<b>динамическая память по сравнению со статической обладает следующим преимуществом:</b>
<div>более низкой ценой</div>
<hr>
<b>время выполнения операций в устройствах ввода/вывода составляет:</b>
<div>от сотен микросекунд до долей секунд</div>
<hr>
<b>где в компьютере происходит обработка информации?</b>
<div>в процессоре</div>
<hr>
<b>какая команда складывает содержимое ячейки с содержимым сумматора?</b>
<div>группа байтов</div>
<hr>
<b>какой из перечисленных видов памяти имеет самое большое быстродействие?</b>
<div>регистры процессора</div>
<hr>
<b>какие из перечисленных принципов определяют современную архитектуру компьютера:</b>
<div>все перечисленные</div>
<hr>
<b>что такое регистр?</b>
<div>совокупность устройств, используемых для хранения информации, и обеспечения быстрого доступа к ней</div>
<hr>
<b>статические и динамические зу относятся к классификации:</b>
<div>по способу хранения</div>
<hr>
<b>модуль bios (basic indivut/outdivut system - базовая система ввода-вывода) относится к:</b>
<div>пзу</div>
<hr>
<b>тактовая частота процессора — это:</b>
<div>число вырабатываемых за одну секунду импульсов, синхронизирующих работу узлов компьютера</div>
<hr>
<b>выполнение различных элементарных операций может занимать:</b>
<div>все перечисленное</div>
<hr>
<b>адресуемость оперативной памяти означает:</b>
<div>наличие номера у каждой ячейки оперативной памяти</div>
<hr>
<b>скорость работы процессора измеряется в:</b>
<div>герцах</div>
<hr>
<b>какое поколение компьютеров использовало микропроцессоры в качестве основных элементов:</b>
<div>четвертое поколение</div>
<hr>
<b>регистр – это:</b>
<div>совокупность устройств, используемых для хранения информации, и обеспечения быстрого доступа к ней</div>
<hr>
<b>в каком виде памяти данные и программы сохраняются только при включенном компьютере:</b>
<div>основная память</div>
<hr>
<b>наибольший вес имеет бит, который называется:</b>
<div>старший значащий бит</div>
<hr>
<b>арифметическо-логическое устройство (алу) — это:</b>
<div>совокупность блоков и узлов процессора, обеспечивающая выполнение арифметических и логических операций над операндами</div>
<hr>
<b>какое поколение компьютеров использовало транзисторы в качестве основных элементов:</b>
<div>второе поколение</div>
<hr>
<b>какая память является самой быстрой в компьютере:</b>
<div>регистровая память процессора</div>
<hr>
<b>как называется максимальное количество информации, которое можно записать на носитель:</b>
<div>емкость</div>
<hr>
<b>найдите неверный ответ: архитектура системы команд служит границей между аппаратурой и программным обеспечением. к аппаратному обеспечению относят:</b>
<div>компилятор</div>
<hr>
<b>какая память является энергозависимой:</b>
<div>основная память</div>
<hr>
<b>промежуток между двумя импульсами тактового генератора, который синхронизирует выполнение всех операций процессора, называется</b>
<div>тактом ядра процессора</div>
<hr>
<b>схема или, реализующая операцию логического сложения, называется</b>
<div>дизъюнктор</div>
<hr>
<b>память только для чтения — это</b>
<div>rom</div>
<hr>
<b>в двоичной системе разряд, который имеет самую правую позицию, называется</b>
<div>младший значащий бит</div>
<hr>
<b>римская система счисления — это</b>
<div>непозиционная система</div>
<hr>
<b>найдите неверный ответ: общая шина имеет в своем составе:</b>
<div>шину команд</div>
<hr>
<b>для отрицательного числа дополнительный код образуется путем:</b>
<div>получения обратного кода и добавлением к младшему разряду единицы</div>
<hr>
<b>первым программистом мира является:</b>
<div>а. лавлейс</div>
<hr>
<b>внутренняя память компьютера физически представлена модулями:</b>
<div>все ответы верны</div>
<hr>
<b>во время исполнения прикладная программа хранится в:</b>
<div>оперативной памяти</div>
<hr>
<b>под термином «интерфейс» понимается:</b>
<div>внешний вид программной среды, служащий для обеспечения диалога с пользователем</div>
<hr>
<b>в микросхемах статической памяти (sram – static ram) в качестве элементарной ячейки используется:</b>
<div>триггер</div>
<hr>
<b>совокупность характеристик и параметров, определяющих функционально-логическую и структурную организацию систем – это:</b>
<div>архитектура вычислительной системы</div>
<hr>
<b>кэш процессора выполняется на базе:</b>
<div>sram</div>
<hr>
<b>основоположником в ссср вычислительной техники является:</b>
<div>сергей алексеевич лебедев</div>
<hr>
<b>назовите неправильно указанный базовый логический элемент:</b>
<div>импликатор</div>
<hr>
<b>дополните предложение: модуль …… предназначен для загрузки операционной системы в оперативную память:</b>
<div>bios</div>
<hr>
<b>промежуток между двумя импульсами тактового генератора, который синхронизирует выполнение всех операций процессора, называется:</b>
<div>тактом ядра процессора</div>
<hr>
<b>в двоичной системе разряд, который имеет самую правую позицию, называется:</b>
<div>младший значащий бит</div>
<hr>
<b>схема или, реализующая операцию логического сложения, называется:</b>
<div>дизъюнктор</div>
<hr>
<b>в обратном коде для отрицательного числа в знаковый разряд заносится:</b>
<div>1</div>
<hr>
<b>память только для чтения — это:</b>
<div>rom</div>
<hr>
<b>random access memory (ram) — это:</b>
<div>все ответы верны</div>
<hr>
<b>закончите предложение: компьютер является информационным каналом с преобразованием информации: информация поступает с:</b>
<div>со всех перечисленных устройств</div>
<hr>
<b>архитектура компьютера с сокращенным набором команд:</b>
<div>risc</div>
<hr>
<b>первые компьютеры были созданы:</b>
<div>в 40-е годы</div>
<hr>
<b>для организации кэш-памяти используется:</b>
<div>статическая память</div>
<hr>
<b>базовый логический элемент, реализующий логическое умножение, называется:</b>
<div>конъюнктор</div>
<hr>
<b>в зависимости от количества операндов, команды бывают:</b>
<div>все перечисленное</div>
<hr>
<b>сверхбыстрый буфер для промежуточного хранения данных перед обработкой их процессором:</b>
<div>кэш-память</div>
<hr>
<b>для какой архитектуры характерно ограниченное количество способов адресации?</b>
<div>risc-архитектуры</div>
<hr>
<b>на какой элементной базе строилось первое поколение компьютеров?</b>
<div>электронно-вакуумные лампы</div>
<hr>
<b>многоядерные процессоры имеют в своем составе:</b>
<div>все перечисленное</div>
<hr>
<b>для какой архитектуры несколько простых команд объединяются в одну сверхдлинную команду и выполняются параллельно?</b>
<div>vliw</div>
<hr>
<b>арифметико-логическое устройство (алу) — это:</b>
<div>совокупность блоков и узлов процессора, обеспечивающая выполнение арифметических и логических операций над операндами</div>
<hr>
<b>что такое машинное слово?</b>
<div>группа байтов</div>
<hr>
<b>время, затрачиваемое на выполнение команды, называется:</b>
<div>командным циклом</div>
<hr>
<b>базовый логический элемент, реализующий логическое отрицание, называется:</b>
<div>инвертор</div>
<hr>
<b>что представляет собой большая интегральная схема (бис)?</b>
<div>кристалл кремния, на котором размещаются от десятков до сотен логических элементов</div>
<hr>
<b>в динамической памяти элементы памяти построены на основе:</b>
<div>конденсаторов</div>
<hr>
<b>идею механической машины с идеей программного управления соединил:</b>
<div>ч. беббидж</div>
<hr>
<b>промежуток времени между двумя последовательными обращениями центрального процессора к внешней оперативной памяти команд/данных или обмена 1 словом данных с периферийными устройствами называется:</b>
<div>машинным циклом</div>
<hr>
<b>устройство управления (уу) – это:</b>
<div>совокупность блоков и узлов процессора, обеспечивающая координирование работы всех устройств компьютера и управление ими</div>
<hr>
<b>аббревиатура dram обозначает:</b>
<div>dynamic random access memory</div>
<hr>
<b>в процессе исполнения одной машинной команды может выполняться:</b>
<div>один или несколько машинных циклов</div>
<hr>
<b>какая часть компьютера отвечает за хранение данных на постоянной основе?</b>
<div>жесткий диск</div>
<hr>
<b>какой код используется в компьютерной технике для записи целых чисел со знаком?</b>
<div>все перечисленные</div>
<hr>
<b>что такое системы счисления?</b>
<div>это знаковая система, в которой числа записываются по определенным правилам с помощью знаков некоторого алфавита, называемых цифрами</div>
<hr>
<b>скорость работы компьютера зависит от:</b>
<div>тактовой частоты обработки информации в процессоре</div>
<hr>
<b>какая память является энергонезависимой?</b>
<div>все ответы верные</div>
<hr>
<b>в каком поколении компьютеров использовались каналы ввода-вывода (специальные электронные схемы, которые руководят обменом данными между процессором и внешними устройствами)?</b>
<div>3</div>
<hr>
<b>сервер, на котором хранятся файлы общего доступа, называется:</b>
<div>файл-сервер</div>
<hr>
<b>какой элемент на схемах имеет прямоугольник с символом «=1»?</b>
<div>«исключающее или»</div>
<hr>
<b>скорость работы компьютера зависит от …</b>
<div>тактовой частоты обработки информации в процессоре</div>
<hr>
<b>дополните предложение: модуль …… предназначен для автоматического тестирования устройств после включения питания компьютера.</b>
<div>bios</div>
<hr>
<b>минимально допустимое время между двумя последовательными обращениями к памяти называется</b>
<div>длительностью цикла</div>
<hr>
<b>информация от взу к процессору и наоборот циркулирует по следующей цепочке:</b>
<div>взу-озу-кэш-процессор</div>
<hr>
<b>в какой системе счисления число 4060 имеет минимальную длину записи ?</b>
<div>в шестнадцатеричной</div>
<hr>
<b>во время исполнения прикладная программа хранится</b>
<div>в оперативной памяти</div>
<hr>
<b>название логической схемы, на выходе которой логическая единица появляется только тогда, когда на всех ее входах имеются логические единицы?</b>
<div>конъюнктор</div>
<hr>
<b>как представляются вещественные числа?</b>
<div>x = +/- m * q(+/-div)</div>
<hr>
<b>во время исполнения прикладная программа хранится в</b>
<div>оперативной памяти</div>
<hr>
<b>римская система счисления это -</b>
<div>непозиционная система</div>
<hr>
<b>как называется память, которая не имеет прямой связи с процессором?</b>
<div>взу</div>
<hr>
<b>на какой элементной базе строилось второе поколение компьютеров?</b>
<div>транзисторы</div>
<hr>
<b>основная интерфейсная система компьютера, обеспечивающая сопряжение и связь всех его устройств между собой - это…</b>
<div>системная шина</div>
<hr>
<b>как называется схема i, реализующая операцию логического умногения?</b>
<div>соединитель</div>
<hr>
<b>в компьютерах какого поколения использовались микросхемы и базовые элементы?</b>
<div>третье поколение</div>
<hr>
<b>каков уровень и архитектура компьютера?</b>
<div>уровень языка высокого ровня</div>
<hr>
<b>основы проектирования систем это-</b>
<div>многозначное число и алфавитная система</div>
<hr>
<b>что такое оперативное запоминающее устройство (озу)?</b>
<div>все ответы верный</div>
<hr>
<b>какой тип памяти компьютера используется для быстрого доступа к часто используемым данным?</b>
<div>кэш</div>
<hr>
<b>в каком году было введено понимание стекла?</b>
<div>1946 год</div>
<hr>
<b>с помощью какой процессор шины соединяется с основными компонентами компьютера на материнской плате?</b>
<div>системная голень</div>
<hr>
<b>что может храниться в чачейке памяти?</b>
<div>все перечисленное</div>
<hr>
<b>какая память организована по принципу "последним записан - первым счетом" (лифо)?</b>
<div>стековая память</div>
<hr>
<b>найдите нонверный ответ: архитектура системной команды служит границе между аппаратом и программным обеспечением. к аппаратному обеспечению относятся -</b>
<div>компилятор</div>
<hr>
<b>на какой элементной основе построены компьютеры первого поколения?</b>
<div>электронно-вакуумная лампа</div>
<hr>
<b>почему в компьютерах используется двойная система счета?</b>
<div>какова стоимость технического оборудования?</div>
<hr>
<b>во время выполнения прикладная программа хранится в</b>
<div>оперативная память</div>
<hr>
<b>найдите неверный ответ: общая шина имеет в своем составе -</b>
<div>команда сину</div>
<hr>
<b>в компьютерах какого поколения использовались транзисторы и базовые элементы?</b>
<div>второе поколение</div>
<hr>
</body>
</html>